= [ruby]tracとhatenaの記法を変換するためのRubyスクリプトを作っています =

タイトル通りですが、tracとhatenaの記法を、簡単に変換するためのスクリプトを作成しています。

== 動機 ==

 * hatena記法がなかなか覚えられない
  * 会社でtracを使ってて、高い頻度でtracのwikiにドキュメントをまとめることをしているため
 * とはいえ、はてなダイアリーもちょいちょい書いてる

なんか、もっと簡単に書きたい！

== まずは ==

動機が動機なので、tracのwiki記法で書いたテキストを、rubyに処理させて、はてな記法に変換するように考えました

つまり、
{{{
[tracのwiki記法の正規表現] => [はてな記法の文字列]
}}}
というキーバリューのHashをコード内でつくって処理させていました


=== でも ===
物足りないですよね。
というか微妙だなぁ自分、なんて思ってました


== GO TO NEXT STAGE ==
そこから先ですべきことは取り急ぎ2点

 * 記法の組み合わせを外部ファイル化する
 * 相互変換できるようにする


== なう ==
とりあえず、上記は達成して、githubにコミットしています
 * sugilog/wiki_syntax_converter - GitHub
  * https://github.com/sugilog/wiki_syntax_converter

 * 記法の組み合わせの外部ファイル化 => YAMLを利用
 * 相互変換 => Regexp.escape(str)を利用

ちなみにこの日記も、わざわざ？変換させてかきましたｗ
ついでに、githubにものってますｗ
変換自体は、以下のような感じ
{{{
ruby converter.rb --file first_diary.trac.sample --from trac > first_diary.hatena.sample
}}}

でも、正直まだ物足りない

 * 対応させた記法がすくない
 * ファイル読み込みのみの対応
 * 例外対応とかしてない

ということで、次に向かって機能追加するべ
アドバイスとか、超嬉しいですヽ(´ー｀)ノ


